<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <script src="https://kit.fontawesome.com/02856abd89.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="site-nav">
        <div class="nav-inner">
          <a class="site-title" href="{{ '/' | relative_url }}">
            {{ site.title }}
          </a>

          <ul class="nav-links">
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/cv/' | relative_url }}">CV</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="container">
        <p>&copy; {{ site.time | date: "%Y" }} Jonah Guse</p>
      </div>
    </footer>
  </body>
</html>
